
/* 内容视图 */
.content-view{
	background-color: #f2f2f2;
	padding: 20px 10px;
	margin: 10px 0px;
	border-radius: 10px;
	box-shadow: 2px 1px 5px gray;
}
/* 内容视图 */

h2{
	color: #ef3d15;
	font-size: 31px;
}
h3{
	color: #ffa12d;
}
h4{
	color: #879a1b;
	font-size: 1.25rem;
}
h5{
	color: #25b17d;
	font-size: 1.15rem;
}
h6{
	color: #4ba6b5;
}

.theme-default-content {
    max-width: 80% !important;
}

.home .theme-default-content {
    max-width: 100% !important;
}

.page-nav {
    max-width: 95% !important;
}

/*标记醒目*/
.todo-view {
	background-color: #f7d5d5;
	padding: 20px 10px;
	margin: 10px 0px;
	color: #e6363b;
}
.todo-view-title {
	margin-bottom: 10px;
	font-size: 16px;
	color: red;
	font-weight: bold;
}
/*标记醒目*/

/* 图标样式 */
.layui-icon-ok{
	color: #3cd7e6;
	border: solid #3cd7e6 1px;
	border-radius: 50px;
	margin-right: 5px;
	padding: 1px;
}
.layui-icon-help{
	color: red;
	border: solid red 1px;
	border-radius: 50px;
	margin-right: 5px;
	padding: 1px;
}
/* 图标样式 */

/* 分页标签 */
.page-break{
	margin-bottom: calc(100vh);
}
/* 分页标签 */

.await{
	color: #00b8ff;
	font-weight: bold;
    margin-left: 25px;
}

blockquote{
	border-left: 0.3rem solid #4075af !important;
	background-color: #f2f2f2;
	box-shadow: 2px 1px 5px #d4cece;
	padding: 10px 0px 10px 20px !important;
}
blockquote > ol > li{
	margin: 5px !important;
	color: black;
}

blockquote > p{
	margin: 5px !important;
	color: black;
}

.page img{
	margin: 10px 0px 40px 0px;
}

.page .calalog{
	margin-bottom: 30px;
	font-size: 14px
;}
.page .calalog a{
	color: #40afde;
	margin-bottom: 10px;
}
.page .calalog a:hover{
	text-decoration: none !important;
	color: #077aab;
}